**/*

!/.config/
!/.config/Proton/
!/.config/Proton/**/*
!/.config/btop/
!/.config/btop/themes/
!/.config/btop/themes/*
!/.config/dunst/
!/.config/dunst/*
!/.config/foot/
!/.config/foot/*
!/.config/fcitx5/
!/.config/fcitx5/*
!/.config/fcitx5/conf/
!/.config/fcitx5/conf/classicui.conf
!/.config/hypr/
!/.config/hypr/*
!/.config/imv/
!/.config/imv/*
!/.config/mpv/
!/.config/mpv/*
!/.config/nvim/
!/.config/nvim/*
!/.config/nwg-look/
!/.config/nwg-look/*
!/.config/qt6ct/
!/.config/qt6ct/*
!/.config/rofi/
!/.config/rofi/*
!/.config/waybar/
!/.config/waybar/*
!/.config/easyeffectsrc
!/.config/mimeapps.list

!/.icons/
!/.icons/**/*

!/.local/
!/.local/share/
!/.local/share/lutris/
!/.local/share/lutris/lutris.conf
!/.local/share/lutris/runners/
!/.local/share/lutris/runners/*
!/.local/share/nwg-look/
!/.local/share/nwg-look/*

!/.bash_profile
!/.bashrc
!/.gitignore
!/install.sh
