**/*

!/.config/
!/.config/Proton/
!/.config/Proton/VPN/
!/.config/Proton/VPN/*
!/.config/alacritty/
!/.config/alacritty/*
!/.config/btop/
!/.config/btop/*
!/.config/dunst/
!/.config/dunst/*
!/.config/fcitx5/
!/.config/fcitx5/*
!/.config/fcitx5/conf/
!/.config/fcitx5/conf/classicui.conf
!/.config/hypr/
!/.config/hypr/*
!/.config/nvim/
!/.config/nvim/*
!/.config/nwg-look/
!/.config/nwg-look/*
!/.config/qt6ct/
!/.config/qt6ct/*
!/.config/rofi/
!/.config/rofi/*
!/.config/scripts/
!/.config/scripts/*
!/.config/wallpaper/
!/.config/wallpaper/*
!/.config/waybar/
!/.config/waybar/*
!/.config/mimeapps.list

!/.bash_profile
!/.bashrc
!/.gitignore
!/install.sh
