**/*

!/.config/
!/.config/Proton/
!/.config/Proton/**/*
!/.config/btop/
!/.config/btop/**/*
!/.config/dunst/
!/.config/dunst/*
!/.config/foot/
!/.config/foot/*
!/.config/fcitx5/
!/.config/fcitx5/*
!/.config/fcitx5/conf/
!/.config/fcitx5/conf/classicui.conf
!/.config/hypr/
!/.config/hypr/*
!/.config/imv/
!/.config/imv/*
!/.config/lazygit/
!/.config/lazygit/*
!/.config/mpv/
!/.config/mpv/*
!/.config/nvim/
!/.config/nvim/*
!/.config/nwg-look/
!/.config/nwg-look/*
!/.config/qt6ct/
!/.config/qt6ct/colors/
!/.config/qt6ct/colors/*
!/.config/waybar/
!/.config/waybar/*
!/.config/easyeffectsrc

!/.icons/
!/.icons/**/*

!/.local/
!/.local/share/
!/.local/share/fcitx5/
!/.local/share/fcitx5/**/*
!/.local/share/nwg-look/
!/.local/share/nwg-look/*
!/.local/share/themes/
!/.local/share/themes/**/*

!/.bash_profile
!/.bashrc
!/.gitignore
!/install.sh
!/timer-stretch.sh
!/timer-workout.sh
